html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  margin-bottom: 0;
}

body {
  background-color: #ffffff;
  font-family: "Roboto", sans-serif;
  overflow-x: hidden;
}

body a {
  color: #000;
  text-decoration: none;
}

body a,
button:hover {
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}

body a:focus,
body a:hover {
  color: #2196f3;
}

body li {
  list-style: none;
}

img,
picture {
  display: inline-block;
  max-width: 100%;
  height: auto;
}

h1,
h2,
h3,
p {
  margin-top: 0;
}

ul {
  margin: 0;
  padding: 0;
}

.main-container {
  position: relative;
  min-width: 450px;
  height: 100%;
  padding: 0 15px 0 15px;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .main-container {
    min-width: 740px;
  }
}

@media screen and (min-width: 1200px) {
  .main-container {
    max-width: 1170px;
  }
}

.secondary-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 30px;
  padding-top: 60px;
}

@media screen and (min-width: 1200px) {
  .secondary-title {
    margin-bottom: 50px;
    padding-top: 94px;
  }
}

.header-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  height: 60px;
}

@media screen and (min-width: 768px) {
  .header-block {
    height: 80px;
  }
}

.nav-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

@media screen and (min-width: 768px) {
  .nav-container {
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (min-width: 1200px) {
  .nav-container {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
}

.nav-container .logo-top {
  color: #000;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  margin-right: 88px;
}

.menu-button {
  display: none;
  border: none;
  background-color: transparent;
}

.menu-button:hover {
  fill: #2196f3;
  cursor: pointer;
  outline: none;
}

.menu-button:hover .icon-cross {
  fill: #2196f3;
}

.menu-button.is-open {
  display: block;
}

@media screen and (max-width: 767px) {
  .menu-button {
    display: block;
  }
}

.burger-icon {
  display: block;
}

.burger-icon:hover .icon-cross {
  fill: #2196f3;
}

@media screen and (min-width: 768px) {
  .burger-icon {
    display: none;
  }
}

.menu-container {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 393px;
  border-top: 1px solid #ececec;
  background-color: #ffffff;
  z-index: 999;
  text-align: center;
}

.menu-container.is-open {
  display: block;
}

.menu-button .icon-cross {
  display: none;
}

.menu-button.is-open .icon-cross {
  display: block;
}

.menu-button.is-open .icon-menu {
  display: none;
}

.menu-contact-tablet-version {
  display: none;
}

@media screen and (min-width: 768px) {
  .menu-contact-tablet-version {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.menu {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: #212121;
  min-width: 100px;
  min-height: 155px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 60px auto;
}

@media screen and (min-width: 768px) {
  .menu {
    position: static;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    min-width: 294px;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    margin: 9px 84px 0px 0px;
  }
}

@media screen and (min-width: 1200px) {
  .menu {
    margin: 0px 305px 0px 0px;
  }
}

.contacts {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 60px;
}

@media screen and (min-width: 768px) {
  .contacts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 0px;
  }
}

@media screen and (min-width: 1200px) {
  .contacts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 100%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.nav-item {
  color: #212121;
}

.nav-item:hover, .nav-item:focus {
  color: #2196f3;
}

@media screen and (min-width: 768px) {
  .nav-item {
    margin-right: 50px;
  }
  .nav-item:last-child {
    margin-right: 0;
  }
}

.current-page {
  position: relative;
  padding: 8px 0px;
  display: block;
}

.current-page::before {
  position: absolute;
  content: "";
  display: block;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 4px;
  background-color: #2196f3;
  border-radius: 2px;
}

@media screen and (min-width: 768px) {
  .current-page {
    padding: 28px 0px;
  }
}

@media screen and (min-width: 1200px) {
  .current-page {
    padding: 32px 0px;
  }
}

.header-mail-phone {
  margin-bottom: 16px;
}

.header-mail-phone:last-child {
  margin-bottom: 0;
}

@media screen and (min-width: 768px) {
  .header-mail-phone {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 1200px) {
  .header-mail-phone {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-right: 30px;
    margin-bottom: 0;
  }
  .header-mail-phone:last-child {
    margin-right: 0;
  }
}

.contacts-item-gap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contacts-item {
  color: #757575;
  margin-bottom: 16px;
}

.contacts-item:hover {
  color: #2196f3;
}

.contacts-item:last-child {
  margin-bottom: 0px;
}

@media screen and (min-width: 768px) {
  .contacts-item {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1200px) {
  .contacts-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.smartphone-envelope-icon {
  fill: #757575;
  margin-right: 10px;
}

.smartphone-envelope-icon {
  fill: currentColor;
}

.hero {
  background-color: rgba(47, 48, 58, 0.4);
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../img/hero-images/mobile/hero-img.jpg");
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../img/hero-images/mobile/hero-img.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

@media screen and (min-device-pixel-ratio: 2), screen and (-webkit-min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../img/hero-images/mobile/hero-img@2.jpg");
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../img/hero-images/mobile/hero-img@2.jpg");
  }
}

@media screen and (min-width: 768px) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../img/hero-images/tablet/hero-img.jpg");
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../img/hero-images/tablet/hero-img.jpg");
  }
}

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../img/hero-images/tablet/hero-img@2.jpg");
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../img/hero-images/tablet/hero-img@2.jpg");
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../img/hero-images/desktop/hero-img.jpg");
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../img/hero-images/desktop/hero-img.jpg");
  }
}

@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../img/hero-images/desktop/hero-img@2.jpg");
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../img/hero-images/desktop/hero-img@2.jpg");
  }
}

.hero-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 400px;
  margin-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .hero-block {
    text-align: center;
    max-width: 1170px;
    height: 600px;
    margin-bottom: 94px;
  }
}

.main-title {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.61;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
  max-width: 360px;
  padding-bottom: 30px;
  margin: 0, auto;
}

@media screen and (min-width: 1200px) {
  .main-title {
    font-size: 44px;
    line-height: 1.36;
    max-width: 696px;
  }
}

.main-title-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  min-width: 200px;
  min-height: 50px;
  background-color: #2196f3;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  margin: 0 auto;
  color: #ffffff;
  padding: 10px 32px;
  border: none;
}

.main-title-button:hover, .main-title-button:focus {
  color: #2196f3;
  background-color: #ffffff;
}

@media screen and (min-width: 768px) {
  .advantage-list-container {
    margin: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    max-width: 100%;
  }
}

@media screen and (min-width: 1200px) {
  .advantage-list-container {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    max-width: 100%;
  }
}

.advantage-item {
  display: block;
  max-width: 354px;
}

.advantage-item:last-child {
  margin-bottom: 60px;
}

@media screen and (min-width: 768px) {
  .advantage-item {
    -ms-flex-preferred-size: calc((100% - 30px) / 2);
        flex-basis: calc((100% - 30px) / 2);
    margin-right: 30px;
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .advantage-item {
    -ms-flex-preferred-size: calc((100% - 30px) / 4);
        flex-basis: calc((100% - 30px) / 4);
    margin: 0px 30px 0px 0px;
  }
  .advantage-item:last-child {
    margin-bottom: 0px;
    margin-right: 0;
  }
}

.advantage-item .advantage-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
  text-align: center;
  margin-bottom: 10px;
}

@media screen and (min-width: 768px) {
  .advantage-item .advantage-title {
    text-align: left;
  }
}

.advantage-item .advantage-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: #757575;
  width: 100%;
}

@media screen and (min-width: 1200px) {
  .advantage-item .advantage-text {
    width: 270px;
    height: 75px;
  }
}

.icon-block {
  background-color: #f5f4fa;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 120px;
  margin-bottom: 30px;
}

@media screen and (min-width: 1200px) {
  .icon-block {
    min-width: 270px;
  }
}

/*OCCUPATION*/
.occupation {
  display: none;
}

@media screen and (min-width: 1200px) {
  .occupation {
    display: block;
  }
}

.occupation-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 94px;
  max-width: 100%;
}

.occupation-item {
  display: block;
  /* width: calc(100% / 3 - 30px); */
  margin-right: 30px;
  margin-bottom: 0px;
}

.occupation-item img {
  display: block;
}

.occupation-item:nth-child(3n) {
  margin-right: 0px;
}

.occupation-card {
  position: relative;
}

.occupation-card .occupation-card-label {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 70px;
  background: rgba(47, 48, 58, 0.8);
}

.occupation-description {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

/*TEAM*/
.team {
  background-color: #f5f4fa;
  padding-bottom: 94px;
}

@media screen and (min-width: 768px) {
  .team {
    padding-bottom: 60px;
  }
}

.team-container {
  margin: -15px;
}

@media screen and (min-width: 768px) {
  .team-container {
    margin: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    max-width: 100%;
  }
}

@media screen and (min-width: 1200px) {
  .team-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -ms-flex-preferred-size: 25%;
        flex-basis: 25%;
  }
}

.team-item {
  display: block;
  max-width: 450px;
  height: auto;
  background-color: #ffffff;
  text-align: center;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  margin: 15px;
}

@media screen and (min-width: 768px) {
  .team-item {
    margin: 0 30px 30px 0;
    max-width: calc((100% - 30px) / 2);
  }
}

@media screen and (min-width: 1200px) {
  .team-item {
    margin: 0px 30px 0px 0px;
  }
  .team-item:last-child {
    margin-right: 0;
  }
}

.team-item .employee-image {
  display: block;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 30px;
}

.team-item .employee {
  color: #212121;
  margin-bottom: 10px;
}

.team-item .position {
  color: #757575;
  padding-bottom: 16px;
}

.team-items-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 206px;
  margin: 0 auto;
  padding-bottom: 24px;
}

.team-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
}

.team-icon:hover, .team-icon:focus {
  background-color: #2196f3;
}

.team-icon .team-card-icon-image {
  fill: #afb1b8;
}

.team-icon:hover .team-card-icon-image {
  fill: #ffffff;
}

.team-icon:focus .team-card-icon-image {
  fill: #ffffff;
}

.clients-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  margin-bottom: 60px;
}

@media screen and (min-width: 768px) {
  .clients-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media screen and (min-width: 1200px) {
  .clients-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 94px;
  }
}

.clients-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 210px;
  height: 90px;
  margin-right: 30px;
  margin-bottom: 30px;
  border: #afb1b8 1px solid;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
  outline: none;
}

.clients-item:hover, .clients-item:focus {
  border-color: #2196f3;
}

.clients-item:hover .client-image {
  fill: #2196f3;
}

.clients-item:focus .client-image {
  fill: #2196f3;
}

@media screen and (min-width: 768px) {
  .clients-item {
    max-width: 226px;
    -ms-flex-preferred-size: calc((100%- 60px) / 3);
        flex-basis: calc((100%- 60px) / 3);
  }
  .clients-item:nth-child(3) {
    margin-right: 0;
  }
  .clients-item:nth-last-child(n + 3) {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1200px) {
  .clients-item {
    max-width: 170px;
    margin-right: 30px;
    margin-bottom: 0;
  }
  .clients-item:last-child {
    margin-right: 0;
  }
}

.client-image {
  display: inline-block;
  fill: #afb1b8;
  margin: 0;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  background-color: #2f303a;
  padding: 60px 0px 60px 0px;
  height: 100%;
}

@media screen and (min-width: 1200px) {
  .footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.footer-wrapper {
  display: none;
}

@media screen and (max-width: 767px) {
  .footer-wrapper {
    display: block;
  }
}

@media screen and (min-width: 768px) {
  .footer-wrapper {
    display: none;
  }
}

@media screen and (min-width: 1200px) {
  .footer-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.footer-logo-contacts {
  margin-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .footer-logo-contacts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
    margin-right: 70px;
    margin-bottom: 0;
  }
}

.logo-bottom a {
  display: inline-block;
  color: #ffffff;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  /* padding-top: 60px; */
  margin-bottom: 20px;
}

.logo-bottom a:hover {
  color: #2196f3;
}

.logo-bottom a:focus a {
  color: #2196f3;
}

.address-item {
  color: #ffffff;
  display: inline-block;
  margin-bottom: 9px;
}

@media screen and (min-width: 1200px) {
  .address-item {
    text-align: left;
  }
}

@media screen and (min-width: 1200px) {
  .address-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    min-width: 231px;
    height: 81px;
  }
}

.address-link {
  color: rgba(255, 255, 255, 0.6);
  margin-bottom: 9px;
}

.address-link:last-child {
  margin-bottom: 0px;
}

@media screen and (min-width: 1200px) {
  .address-link {
    display: block;
  }
}

.bluetext {
  color: #2196f3;
}

.join {
  display: inline-block;
}

@media screen and (min-width: 768px) {
  .join {
    display: block;
    margin-left: 165px;
  }
}

@media screen and (min-width: 1200px) {
  .join {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
    margin-left: 0;
  }
}

.join-title {
  display: inline-block;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
}

@media screen and (min-width: 1200px) {
  .join-title {
    padding-top: 12px;
  }
}

.footer-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .footer-icons {
    margin-right: 93px;
  }
}

.footer-icon-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: #44454e;
  margin-right: 10px;
}

.footer-icon-item:hover, .footer-icon-item:focus {
  background-color: #2196f3;
}

.footer-wrapper-tablet {
  display: none;
}

@media screen and (min-width: 768px) {
  .footer-wrapper-tablet {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (min-width: 1200px) {
  .footer-wrapper-tablet {
    display: none;
  }
}

.tablet-footer-contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 600px;
}

@media screen and (min-width: 1200px) {
  .subscription {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
  }
}

.subscription-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 1200px) {
  .subscription-form {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.subscription-form .subscription-field {
  width: 450px;
  height: 50px;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  background-color: #2f303a;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  padding-left: 16px;
  margin-bottom: 20px;
}

@media screen and (min-width: 1200px) {
  .subscription-form .subscription-field {
    width: 358px;
    margin-right: 12px;
    margin-bottom: 0;
  }
}

.subscription-btn-block {
  position: relative;
  display: inline-block;
}

.subscription-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  background-color: #2196f3;
  width: 200px;
  height: 50px;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  color: #ffffff;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  padding: 10px 0px 10px 29px;
  outline: none;
}

.subscription-btn .subscription-img {
  position: absolute;
  width: 24px;
  height: 24px;
  bottom: 12px;
  right: 48px;
  top: 12px;
  left: 148px;
  fill: #ffffff;
}

.subscription-btn:hover, .subscription-btn:focus {
  color: #2196f3;
  background-color: #ffffff;
}

.subscription-btn:hover .subscription-img {
  fill: #2196f3;
}

.subscription-btn:focus .subscription-img {
  fill: #2196f3;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  overflow-y: hidden;
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: absolute;
  width: 450px;
  height: 609px;
  background-color: #ffffff;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
    height: 581px;
  }
}

.close-btn {
  position: absolute;
  width: 30px;
  height: 30px;
  right: 8px;
  top: 8px;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
}

.close-btn .close-cross {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.close-btn:hover {
  cursor: pointer;
}

.close-btn:hover .close-cross {
  fill: #2196f3;
}

.modal-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0, auto;
}

.modal-form .modal-title {
  display: block;
  font-weight: bold;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  padding: 40px 40px 12px;
}

@media screen and (min-width: 1200px) {
  .modal-form {
    line-height: 23px;
  }
}

.modal-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 10px;
}

.modal-row .modal-input-label {
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: #757575;
  margin-bottom: 4px;
}

.input-block {
  position: relative;
}

.input-block .modal-icon-item {
  position: absolute;
  top: 11px;
  left: 12px;
  bottom: 11px;
  width: 18px;
  height: 18px;
}

.input-block:hover .modal-icon-item {
  fill: #2196f3;
}

.input-block:hover .modal-input-field {
  border-color: #2196f3;
  cursor: pointer;
}

.input-block:hover .modal-input-field-comment {
  border-color: #2196f3;
  cursor: pointer;
}

.modal-input-field {
  display: block;
  width: 370px;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 35px;
  color: #000;
  outline: none;
}

.modal-input-field:focus + .modal-icon-item {
  fill: #2196f3;
}

.modal-input-field:focus {
  border-color: #2196f3;
}

@media screen and (min-width: 1200px) {
  .modal-input-field {
    width: 448px;
  }
}

.modal-input-field-comment {
  resize: none;
  display: block;
  width: 370px;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
  padding: 12px 16px;
  outline: none;
}

.modal-input-field-comment:focus {
  border-color: #2196f3;
}

@media screen and (min-width: 1200px) {
  .modal-input-field-comment {
    font-size: 16px;
    line-height: 18px;
    letter-spacing: 0.01em;
    width: 448px;
    color: #000;
  }
}

.terms-accept {
  display: inline-block;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.03em;
  color: #757575;
  padding-left: 30px;
  margin-bottom: 30px;
}

@media screen and (min-width: 1200px) {
  .terms-accept {
    font-size: 14px;
    line-height: 24px;
  }
}

.terms-accept .contact-terms {
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #2196f3;
}

.terms-accept .check-box {
  position: absolute;
  display: inline-block;
  width: 16px;
  height: 15px;
  overflow: hidden;
  background-image: url("../img/form-icons/checksquare-mobile.svg");
  background-repeat: no-repeat;
  -webkit-transform: translate(-20px, -2px);
          transform: translate(-20px, -2px);
}

@media screen and (min-width: 1200px) {
  .terms-accept .check-box {
    width: 20px;
    height: 20px;
    background-image: url("../img/form-icons/checksquare.svg");
    -webkit-transform: translate(-20px, 4px);
            transform: translate(-20px, 4px);
  }
}

.check-input {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
}

.check-input:checked + .check-box {
  background-image: url("../img/form-icons/icon-check-mobile.svg");
}

@media screen and (min-width: 1200px) {
  .check-input:checked + .check-box {
    background-image: url("../img/form-icons/icon-check.svg");
  }
}

.portfolio-header-underline {
  display: block;
  border-bottom: 1px solid #ececec;
}

.filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 362px;
  margin-top: 60px;
  margin-bottom: 40px;
}

@media screen and (min-width: 768px) {
  .filter {
    max-width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .filter {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 50px;
    margin-top: 0;
  }
}

.filter-position {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media screen and (min-width: 768px) {
  .filter-position {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (min-width: 1200px) {
  .filter-position {
    padding-top: 94px;
  }
}

.filter-item {
  margin-right: 8px;
  margin-bottom: 15px;
}

@media screen and (min-width: 1200px) {
  .filter-item {
    margin-bottom: 0;
  }
  .filter-item:last-child {
    margin-right: 0px;
  }
}

.btn-style {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  letter-spacing: 0.03em;
  color: #212121;
  background-color: #f5f4fa;
  border: transparent;
  border-radius: 4px;
  width: 128px;
  height: 38px;
  cursor: pointer;
}

.btn-style.btn-style-all {
  width: 73px;
}

.btn-style:hover, .btn-style:focus {
  background-color: #2196f3;
  color: #ffffff;
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

@media screen and (min-width: 768px) {
  .project-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    max-width: 100%;
  }
}

@media screen and (min-width: 1200px) {
  .project-container {
    margin-bottom: 94px;
  }
}

.project-card {
  display: block;
  max-width: 450px;
  height: auto;
  margin-bottom: 30px;
}

.project-card:last-child {
  margin-bottom: 60px;
}

.project-card:hover {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.project-card a:focus .project-image-info {
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
}

@media screen and (min-width: 768px) {
  .project-card {
    max-width: 354px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 0 30px 30px 0;
    -ms-flex-preferred-size: calc((100% - 30px) / 2);
        flex-basis: calc((100% - 30px) / 2);
  }
}

@media screen and (min-width: 1200px) {
  .project-card {
    margin-right: 30px;
    max-width: 370px;
    -ms-flex-preferred-size: calc((100% - 60px) / 3);
        flex-basis: calc((100% - 60px) / 3);
  }
  .project-card:nth-child(3n) {
    margin-right: 0px;
  }
  .project-card:nth-last-child(-n + 3) {
    margin-bottom: 0px;
  }
}

.project-block {
  position: relative;
  display: block;
  width: 100%;
  overflow: hidden;
}

.project-block .project-image {
  display: block;
  width: 100%;
}

.project-block .project-image-info {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: rgba(33, 150, 243, 0.9);
  width: 100%;
  height: 100%;
  top: 100%;
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.project-block:hover .project-image-info {
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
}

.project-image-text {
  font-weight: normal;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: #ffffff;
  padding: 63px 24px;
}

@media screen and (min-width: 768px) {
  .project-image-text {
    padding: 49px 24px;
  }
}

@media screen and (min-width: 1200px) {
  .project-image-text {
    padding: 63px 24px;
  }
}

.under-image-text {
  display: block;
  width: 100%;
  height: 110px;
  padding: 20px 24px;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
}

@media screen and (min-width: 768px) {
  .under-image-text {
    width: 100%;
    height: auto;
  }
}

@media screen and (min-width: 1200px) {
  .under-image-text {
    max-height: 110px;
  }
}

.under-image-text .project-name {
  display: block;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
  margin-bottom: 4px;
}

.under-image-text .description {
  display: block;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.03em;
  color: #757575;
}

.team-item .employee, .team-item .position {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.address-item, .address-link {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}
/*# sourceMappingURL=main.css.map */