//CLIENTS
.clients-block {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 60px;
    /* margin-bottom: 94px; */
}

.clients-item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 210px;
    height: 90px;
    margin-right: 30px;
    margin-bottom: 30px;
    /* margin-right: 30px; */
    /* &:last-child {
        margin-right: 0;
    } */
    border: $icon-grey-color 1px solid;
    box-sizing: border-box;
    border-radius: 4px;
    outline: none;
    &:hover,
    &:focus {
        border-color: $blue-text-color;
    }
    &:hover .client-image {
        fill: $blue-text-color;
    }
    &:focus .client-image {
        fill: $blue-text-color;
    }
}

.client-image {
    display: inline-block;
    fill: $icon-grey-color;
    margin: 0;
}