.header-block {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* height: 80px; */
    width: 100%;
    height: 60px;
    .nav-container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-grow: 1;
        /* margin-right: 305px; */
        .logo-top {
            color: $logo-black-color;
            font-family: "Raleway", sans-serif;
            font-weight: 700;
            font-size: 26px;
            line-height: 1.2;
            letter-spacing: 0.03em;
            /* margin-right: 93px; */
        }
    }
}

.menu-button {
    display: none;
    border: none;
    background-color: transparent;
    &:hover {
        fill: $blue-text-color;
        cursor: pointer;
        outline: none;
    }
    &:hover .icon-cross {
        fill: $blue-text-color;
    }
    &.is-open {
        display: block;
    }
    @media screen and (max-width: 767px) {
        display: block;
    }
}

.burger-icon {
    display: block;
    &:hover .icon-cross {
        fill: $blue-text-color;
    }
}

.menu-container {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 393px;
    border-top: 1px solid #ececec;
    background-color: $primary-white-color;
    z-index: 999;
    text-align: center;
    &.is-open {
        display: block;
    }
}

.menu-button .icon-cross {
    display: none;
}

.menu-button.is-open .icon-cross {
    display: block;
}

.menu-button.is-open .icon-menu {
    display: none;
}

.menu {
    /*  display: flex;
    align-items: center;
    width: 294px;
    justify-content: space-between;
    @extend %nav-con-style; */
    font-weight: 500;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    color: #212121;
    min-width: 100px;
    min-height: 155px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: 60px auto;
}

.contacts {
    /* display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center; */
    font-weight: 500;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 60px;
}

.nav-item {
    color: $nav-and-title-color;
    &:hover,
    &:focus {
        color: $blue-text-color;
    }
}

.current-page {
    position: relative;
    padding: 8px 0px;
    display: block;
    &::before {
        position: absolute;
        content: "";
        display: block;
        bottom: 0;
        left: 0;
        right: 0;
        width: 100%;
        height: 4px;
        background-color: $blue-text-color;
        border-radius: 2px;
    }
}

.header-mail-phone {
    /* display: flex;
    align-items: center; */
    /*  margin-right: 30px; */
    /*  &:last-child {
        margin-right: 0;
    } */
    /* @extend %nav-con-style; */
    /*  .contacts-item-gap {
        display: flex;
    } */
    margin-bottom: 16px;
    &:last-child {
        margin-bottom: 0;
    }
}

.contacts-item {
    color: $contacts-paragraph-employee-position-color;
    &:hover {
        color: $blue-text-color;
    }
    margin-bottom: 16px;
    &:last-child {
        margin-bottom: 0px;
    }
}

.smartphone-envelope-icon {
    fill: $contacts-paragraph-employee-position-color;
    margin-right: 10px;
}

.smartphone-envelope-icon {
    fill: currentColor;
}