.header-block {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 60px;
    @media screen and (min-width: 768px) {
        height: 80px;
    }
}

.nav-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-grow: 1;
    @media screen and (min-width: 768px) {
        flex-grow: 0;
        width: 100%;
        justify-content: center;
    }
    @media screen and (min-width: 1200px) {
        flex-grow: 1;
    }
    .logo-top {
        color: $logo-black-color;
        font-family: "Raleway", sans-serif;
        font-weight: 700;
        font-size: 26px;
        line-height: 1.2;
        letter-spacing: 0.03em;
        margin-right: 88px;
    }
}

.menu-button {
    display: none;
    border: none;
    background-color: transparent;
    &:hover {
        fill: $blue-text-color;
        cursor: pointer;
        outline: none;
    }
    &:hover .icon-cross {
        fill: $blue-text-color;
    }
    &.is-open {
        display: block;
    }
    @media screen and (max-width: 767px) {
        display: block;
    }
}

.burger-icon {
    display: block;
    &:hover .icon-cross {
        fill: $blue-text-color;
    }
    @media screen and (min-width: 768px) {
        display: none;
    }
}

.menu-container {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 393px;
    border-top: 1px solid #ececec;
    background-color: $primary-white-color;
    z-index: 999;
    text-align: center;
    &.is-open {
        display: block;
    }
}

.menu-button .icon-cross {
    display: none;
}

.menu-button.is-open .icon-cross {
    display: block;
}

.menu-button.is-open .icon-menu {
    display: none;
}

.menu-contact-tablet-version {
    display: none;
    @media screen and (min-width: 768px) {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
}

.menu {
    font-weight: 500;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    color: #212121;
    min-width: 100px;
    min-height: 155px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: 60px auto;
    @media screen and (min-width: 768px) {
        position: static;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        min-width: 294px;
        font-weight: 500;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.02em;
        margin: 9px 84px 0px 0px;
    }
    @media screen and (min-width: 1200px) {
        margin: 0px 305px 0px 0px;
    }
}

.contacts {
    font-weight: 500;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 60px;
    @media screen and (min-width: 768px) {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
        margin: 0px;
    }
    @media screen and (min-width: 1200px) {
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: space-between;
        align-items: center;
    }
}

.nav-item {
    color: $nav-and-title-color;
    &:hover,
    &:focus {
        color: $blue-text-color;
    }
    @media screen and (min-width: 768px) {
        margin-right: 50px;
        &:last-child {
            margin-right: 0;
        }
    }
}

.current-page {
    position: relative;
    padding: 8px 0px;
    display: block;
    &::before {
        position: absolute;
        content: "";
        display: block;
        bottom: 0;
        left: 0;
        right: 0;
        width: 100%;
        height: 4px;
        background-color: $blue-text-color;
        border-radius: 2px;
    }
    @media screen and (min-width: 768px) {
        padding: 28px 0px;
    }
    @media screen and (min-width: 1200px) {
        padding: 32px 0px;
    }
}

.header-mail-phone {
    margin-bottom: 16px;
    &:last-child {
        margin-bottom: 0;
    }
    @media screen and (min-width: 768px) {
        display: flex;
        align-items: center;
        font-weight: 500;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.02em;
        margin-bottom: 10px;
    }
    @media screen and (min-width: 1200px) {
        margin-right: 30px;
        margin-bottom: 0;
        &:last-child {
            margin-right: 0;
        }
    }
}

.contacts-item-gap {
    display: flex;
    align-items: center;
}

.contacts-item {
    color: $contacts-paragraph-employee-position-color;
    &:hover {
        color: $blue-text-color;
    }
    margin-bottom: 16px;
    &:last-child {
        margin-bottom: 0px;
    }
    @media screen and (min-width: 768px) {
        margin-bottom: 0;
    }
    @media screen and (min-width: 1200px) {
        display: flex;
        align-items: center;
    }
}

.smartphone-envelope-icon {
    fill: $contacts-paragraph-employee-position-color;
    margin-right: 10px;
}

.smartphone-envelope-icon {
    fill: currentColor;
}