//MODAL WINDOW
.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    overflow-y: hidden;
    &.is-hidden {
        opacity: 0;
        pointer-events: none;
    }
}

.modal {
    position: absolute;
    /* width: 528px;
    height: 581px; */
    width: 450px;
    height: 609px;
    background-color: $primary-white-color;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.close-btn {
    position: absolute;
    width: 30px;
    height: 30px;
    right: 8px;
    top: 8px;
    background: #ffffff;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    .close-cross {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    &:hover {
        cursor: pointer;
    }
    &:hover .close-cross {
        fill: $blue-text-color;
    }
}

.modal-form {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0, auto;
    .modal-title {
        display: block;
        font-weight: bold;
        font-size: 20px;
        /* line-height: 23px; */
        line-height: 30px;
        text-align: center;
        letter-spacing: 0.03em;
        color: #212121;
        padding: 40px 40px 12px;
    }
    /*  &:focus-within .modal-input-field {
        border-color: $blue-text-color;
    } */
}

.modal-row {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    .modal-input-label {
        font-weight: normal;
        font-size: 12px;
        line-height: 14px;
        letter-spacing: 0.01em;
        color: #757575;
        margin-bottom: 4px;
    }
}

.input-block {
    position: relative;
    .modal-icon-item {
        position: absolute;
        top: 11px;
        left: 12px;
        bottom: 11px;
        width: 18px;
        height: 18px;
    }
    &:hover .modal-icon-item {
        fill: $blue-text-color;
    }
    &:hover .modal-input-field {
        border-color: $blue-text-color;
        cursor: pointer;
    }
    &:hover .modal-input-field-comment {
        border-color: $blue-text-color;
        cursor: pointer;
    }
}

.modal-input-field {
    display: block;
    /* width: 448px; */
    width: 370px;
    height: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    padding-left: 35px;
    color: #000;
    outline: none;
    &:focus+.modal-icon-item {
        fill: $blue-text-color;
    }
    &:focus {
        border-color: $blue-text-color;
    }
}

.modal-input-field-comment {
    resize: none;
    display: block;
    /* width: 448px; */
    width: 370px;
    height: 120px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    font-weight: normal;
    /* font-size: 16px;
    line-height: 18px;
    letter-spacing: 0.01em;
    color: #000; */
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
    padding: 12px 16px;
    outline: none;
    &:focus {
        border-color: $blue-text-color;
    }
}

.terms-accept {
    display: inline-block;
    font-weight: normal;
    /* font-size: 14px;
    line-height: 24px; */
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.03em;
    color: #757575;
    padding-left: 30px;
    margin-bottom: 30px;
    .contact-terms {
        text-decoration-line: underline;
        color: #2196f3;
    }
    .check-box {
        position: absolute;
        display: inline-block;
        /* width: 20px;
        height: 20px; */
        width: 16px;
        height: 15px;
        overflow: hidden;
        /* background-image: url("../img/form-icons/checksquare.svg");
         */
        background-image: url("../img/form-icons/checksquare-mobile.svg");
        background-repeat: no-repeat;
        /* transform: translate(-20px, 4px); */
        transform: translate(-20px, -2px);
    }
}

.check-input {
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
    &:checked+.check-box {
        /* background-image: url("../img/form-icons/icon-check.svg"); */
        background-image: url("../img/form-icons/icon-check-mobile.svg");
    }
}