/*TEAM*/

.team {
    background-color: $background-team-color;
    padding-bottom: 94px;
    @media screen and (min-width: 768px) {
        padding-bottom: 60px;
    }
}

.team-container {
    margin: -15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    @media screen and (min-width: 768px) {
        margin: 0;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        max-width: 100%;
        /* justify-content: center; */
    }
    @media screen and (min-width: 1200px) {
        display: flex;
        flex-wrap: nowrap;
        flex-basis: 25%;
    }
}

.team-item {
    display: block;
    max-width: 450px;
    height: auto;
    background-color: $primary-white-color;
    text-align: center;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    margin: 15px;
    @media screen and (min-width: 768px) {
        /* margin: 0 30px 30px 0;
        max-width: calc((100% - 30px) / 2); */
        width: calc(100% / 2 - 30px);
        margin: 15px;
    }
    @media screen and (min-width: 1200px) {
        margin: 0px 30px 0px 0px;
        &:last-child {
            margin-right: 0;
        }
    }
    .employee-image {
        display: block;
        width: 100%;
        margin: 0 auto;
        margin-bottom: 30px;
    }
    .employee {
        color: $nav-and-title-color;
        margin-bottom: 10px;
        @extend %position-employee-style;
    }
    .position {
        color: $contacts-paragraph-employee-position-color;
        padding-bottom: 16px;
        @extend %position-employee-style;
    }
}

.team-items-icons {
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-width: 206px;
    margin: 0 auto;
    padding-bottom: 24px;
}

.team-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    &:hover,
    &:focus {
        background-color: $blue-text-color;
    }
    .team-card-icon-image {
        fill: $icon-grey-color;
    }
    &:hover .team-card-icon-image {
        fill: $primary-white-color;
    }
    &:focus .team-card-icon-image {
        fill: $primary-white-color;
    }
}