//Colors
$logo-black-color: #000;
$primary-white-color: #ffffff;
$background-team-color: #f5f4fa;
$nav-and-title-color: #212121;
$contacts-paragraph-employee-position-color: #757575;
$blue-text-color: #2196f3;
$background-dark-color: #2f303a;
$background-button-color: #f5f4fa;
$address-link-color: rgba(255, 255, 255, 0.6);
$card-border-color: #eeeeee;
$icon-grey-color: #afb1b8;